.square:hover {
    outline: 1px solid mediumpurple;
    transform: scale(1.05);
    box-shadow: 0 0 20px mediumpurple;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

